@import "../../sass/utils/variables";

.dropdown {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 50px;

    &__header {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        border: none;
        background: $primary_color;
        color: $white;
        border-radius: 5px;
        padding-left: 18px;
        padding-right: 18px;

        & h3 {
            font-size: 18px;
            font-weight: 500;
            font-family: $font;
        }

        &__arrow {

            &--up {
                transform: rotate(0deg);
                transition: all 0.3s;
            }

            &--down {
                transform: rotate(180deg);
                transition: all 0.3s;
            }
        }
    }

    &__content {
        z-index: 0;
        background: $light_grey;
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        & p {
            font-size: 18px;
            font-weight: 400;
            color: $primary_color;
        }
    }
}

.dropdown-close {
    max-height: 50px;
    transition: all 0.5s;
}

.dropdown-open {
    max-height: 200px;
    transition: all 0.5s;
}

@media screen and (max-width: 375px) {
    .dropdown {

        &__header {
            height: 30px;
            padding: 0 10px;

            & h3 {
                font-size: 13px;
                line-height: 19px;
            }

            &__arrow {
                
                &--up {
                    width: 10px;
                    height: 15px;
                }

                &--down {
                    width: 10px;
                    height: 15px;
                }
            }
        }

        &__content {
            padding: 12px;

            & p {
                font-size: 12px;
                font-weight: 400;
                color: $primary_color;
            }
        }
    }

    .dropdown-close {
        max-height: 30px;
        transition: all 0.5s;
    }
}

