@import "../../sass/utils/variables";

.fiche-logement {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 15px;
    width: 100%;
    min-height: calc(100vh - 148px - 210px);
    
    &__header {
        width: 100%;
        margin-bottom: 30px;
    }

    &__infos {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        color: $primary_color;

        &__left {
            & h1 {
                font-size: 36px;
                font-weight: 500;
                line-height: 50px;
            }

            & h2 {
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
        & .dropdown {
            width: 47%;
        }
    }
}

.host {
    display: flex;

    &__name {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 10px;
        padding: 5px 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;

    }

    &__img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
    & p {
        width: auto;
        padding: 0 10px;
        height: 25px;
        border-radius: 10px;
        background: $primary_color;
        color: $white;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 415px;

    &__arrow {
        z-index: 900;
        position: absolute;
        top: 45%;
        background: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

    &__content {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;

        &__picture {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation-name: fade;
            animation-duration: 0.5s;
        }
    }
}

#arrow_left {
    left: 25px;
}

#arrow_right {
    right: 25px;
    transform: rotate(180deg);
}

.active {
    display: block;
}

.hidden {
    display: none;
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@media screen and (max-width: 375px){
    .fiche-logement {
        padding: 0 20px;
        margin-top: 10px;

        &__header {
            margin-bottom: 15px;
        }
        
        &__infos {
            display: block;
            margin-bottom: 15px;

            &__left {
                margin-bottom: 20px;
                & h1 {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 5px;
                }

                & h2 {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &__right {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__footer {
            display: block;

            & .dropdown {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .tags {
        margin-top: 12px;

        & p {
            padding: 7px 10px;
            height: 25px;
            border-radius: 10px;
            background: $primary_color;
            color: $white;
            text-align: center;
            font-size: 10px;
            font-weight: 500;
            line-height: 10px;
        }
    }

    .host {
        &__name {
            padding: 0;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;

        }

        &__img {
            height: 32px;
            width: 32px;
        }
    }

    .slider {
        height: 255px;

        &__arrow {
            height: 20px;
            & img {
                height: 20px;
            }
        }

        &__content {
            border-radius: 10px;
            overflow: hidden;
        }

    }

    #arrow_left {
        left: 5px;
    }

    #arrow_right {
        right: 5px;
        transform: rotate(180deg);
    }
}