@import "../../sass/utils/variables";

.home {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.banner {
    margin-top: 30px;
    margin-bottom: 40px;
}

@media screen and (max-width: 375px){
    .home {
        padding: 0 20px;
    }

    .banner {
        margin-top: 0;
        margin-bottom: 0;
    }
}