@import "../../sass/utils/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 40px 100px;
    &__menu a{
        color: $primary_color;
        margin-left: 57px;
    } 
}

@media screen and (max-width: 375px){
    .header {
        & img {
            height: 47px;
        }
        padding: 20px;
        &__menu a {
            margin-left: 10px;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}